.control-group
  = label_tag :content, "Discussion content", { class: 'control-label' }
  .controls
    = text_area_tag "discussion[content]", @discussion.content
.control-group
  %label.radio.inline.controls
    = radio_button_tag("discussion[is_visible]", true, @discussion.is_visible?)
    public
  %label.radio.inline.controls
    = radio_button_tag("discussion[is_visible]", false, true && !@discussion.is_visible?)
    private
