:plain
  $(".table").after("#{j(render partial: 'new')}");
  $("div[id^=datepicker]").datetimepicker({
    pickTime: false
  });
  $("#datepicker_discussion_date").datetimepicker().on('changeDate', function() {
    $("#salary_activity_effective_date").val($("#salary_activity_discussion_date").val());
  });
