%h1 Editing salary_activity

= render 'form'

= link_to 'Show', contract_salary_activities_path(@contract, @salary_activity)
\|
= link_to 'Back', contract_salary_activities_path(@contract, @salary_activity)
