:plain
  $("#new-contract-form").fadeOut("slow");
  $(".table").empty().html("#{j(render partial: 'list_table')}");
  $("#message").html("#{j(render partial: 'shared/message')}");
  setTimeout(callback, 4000);

