%li
  -# = link_to "New Contract", "#contract_modal", role: 'button', class: 'btn', data: { toggle: 'modal'}, remote: true
  = link_to "New Contract", home_new_contract_modal_path, role: 'button', class: 'btn', data: { toggle: 'modal'}, remote: true
%li
  = link_to "View Bonuses", "#"
%li
  = link_to "Add Salary Activity", "#"
