%li
  = link_to "New Contract", home_new_contract_modal_path(employee_id: employee.id), role: 'button', class: 'btn', remote: true
%li
  = link_to "View Bonuses", emp_bonuses_bonuses_path(nickname: employee.nickname), role: 'button', class: 'btn', remote: true
%li
  = link_to "Add Salary Activity", "#"
