:plain
  $("#contract-modal .modal-body").empty();
  $("#contract-modal .modal-body").append("#{j(render partial: 'contracts/new', locals: { selected_emp: @selected_emp_id, from: @from} )}");
  active_datepicker();
  $("#contract-modal").removeClass('hideModal').addClass('showModal')
  $(".closeModal").on("click", function(){
    $(".modalDialog").removeClass('showModal').addClass('hideModal')
  });
