:plain
  $("#modal-body").empty();
  $("#modal-body").append("#{j(render partial: 'contracts/new')}");
  active_datepicker();
  $(".modalDialog").css({"opacity": 1, "pointer-events": "auto"});
  $(".closeModal").on("click", function(){
    $(".modalDialog").css({"opacity": 0, "pointer-events": "none"});
  });

